<template>
	<div>
		<div class="col-12">
			<search-component
				@hotelsList="hotelsViews"
			></search-component>
		</div>
		<div class="col-12" >
			<results-component
			
			:list="list"
			></results-component>	
		</div>
	</div>
</template>

<script>
    export default {
    	data(){
    		return{
    			list:null,
    			city: null,
    			dateIn:null
    		}
    	},
       	props: ['object'],
        methods: {
			hotelsViews: function(object) {
				this.list = object.list
				this.city = object.city

			},
			date: function(object) {
				this.dateIn = object
			}
		}
    }
</script>