<template>
    <div class="container">
        <div class="row p-0 pt-2" v-if="list" >
            <div class="col-12 col-md-4">
                <h2>Filtros Populares</h2>
                <div>
                    <h4>
                        Precio
                    </h4>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-on:click="onPrice" value="1" id="pricemenor">
                      <label class="custom-control-label" for="pricemenor">Menor de 100 USD</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-on:click="onPrice" value="2"  id="pricemayor">
                      <label class="custom-control-label" for="pricemayor">Mayor de 100 USD</label>
                    </div>
                </div>
                <div class="stars">
                    <h4>
                        Estrellas
                    </h4>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-on:click="onStar"  value="1" id="star1">
                      <label class="custom-control-label" for="star1"  >1 estrella</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-on:click="onStar"  value="2" id="star2">
                      <label class="custom-control-label" for="star2" >2 estrella</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-on:click="onStar"  value="3" id="star3">
                      <label class="custom-control-label" for="star3">3 estrella</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-on:click="onStar"  value="4" id="star4">
                      <label class="custom-control-label" for="star4" >4 estrella</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-on:click="onStar"  value="5" id="star5">
                      <label class="custom-control-label" for="star5">5 estrella</label>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <h2>Hoteles</h2>
                <div class="hotelcontent p-2" v-for="item in filterList"
                :key="item.id">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <img :src="item.imagen" class="w-100" alt="">
                        </div>
                        <div class="col-12 col-md-6">
                            <h4 class="pt-2">{{item.nombre}}</h4> <p class="precio">{{item.precio}} USD</p>
                            <p class="descripcion">{{item.descripcion}}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else-if="list == false">
            <h2>No hay hoteles</h2>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return  {
                currentFilter: "all",
                prices: [],
                stars: [],
                lisTemp: []
            }
        },
        props: ['list'],
        mounted() {
        },

        computed: {
            filterList () {
                const self = this;
                self.lisTemp = [];


                if(self.currentFilter === 'star'){

                    $.each(self.stars, function(key, value) {
                        self.list.filter(function(item) {
                            if(value == item.estrellas){
                                self.lisTemp.push(item)
                            }
                        });
                    });

                    return self.lisTemp;

                }else if(self.currentFilter === 'price'){

                    $.each(self.prices, function(key, value) {
                        if(value == 1){
                            self.list.filter(function(item) {
                                if(item.precio < 100){
                                    self.lisTemp.push(item)
                                }
                            });
                        }else if(value == 2){
                            self.list.filter(function(item) {
                                if(item.precio >= 100){
                                    self.lisTemp.push(item)
                                }
                            });
                        }
                    });

                    return self.lisTemp;

                } else {
                    return self.list;
                }
            }
        },

        methods: {
            onPrice: function(object) {
                if (!this.prices)
                    this.prices = []

                const index = this.prices.findIndex(v => v == object.target.value)
                const checked = object.target.checked;
                if (checked && index < 0)
                    this.prices.push(object.target.value)
                if (!checked && index >= 0)
                    this.prices.splice(index, 1)

                if(this.prices.length > 0){
                    this.currentFilter = 'price'
                }else{
                    this.currentFilter = 'all'
                }
            },
            onStar: function(object) {

                if (!this.stars)
                    this.stars = []

                const index = this.stars.findIndex(v => v == object.target.value)
                const checked = object.target.checked;

                if (checked && index < 0)
                    this.stars.push(object.target.value)
                if (!checked && index >= 0)
                    this.stars.splice(index, 1)


                if(this.stars.length > 0){
                    this.currentFilter = 'star'
                }else{
                    this.currentFilter = 'all'
                }
            },
        }

    }
</script>
