<template>
	<div align="center">
		<section id="search">
			<div class="container">
				<p>Encuentra tu hotel</p>
				<form id="form_search" name="form_search" @submit="checkForm" method="post">
					<div class="row d-flex justify-content-center">
						<p class="error" v-if="errors.length">
						    <b>Por favor, corrija el(los) siguiente(s) error(es):</b>
						    <ul>
						      <li v-for="error in errors">{{ error }}</li>
						    </ul>
				  		</p>
					</div>
					<div class="form-group row">
						<div class="col-12 col-lg-4">
						    <label for="pais">País</label>
						    <select class="form-control" id="pais" name="pais" v-model="pais" v-on:change="onChange">
						    	<option value="">Seleccionar País</option>
						    	<option v-for="country in countries" :value='country.id'> {{country.name}} </option>
						    </select>
						</div>
						<div class="col-12 col-lg-4 pt-2">
							<label for="ciudad">Ciudad</label>
							<select class="form-control" id="ciudad" name="ciudad" v-model="ciudad">
								<option value="">Seleccionar Ciudad</option>
							    <option v-for="city in cities" :value="city.id">{{city.ciudad}}</option>
							</select>
						</div>
						<div class="col-12 col-lg-4 pt-2">
							<label for="ciudad">Fechas</label>
							<HotelDatePicker 
								format="DD/MM/YYYY" 
								@check-in-changed="checkIn"
								@check-out-changed="checkOut"
							></HotelDatePicker>
						</div>
					</div>
					<div class="form-group row">
	    				<div class="col-12">
							<input type="submit"  class="btn btn-primary btn-block" value="Buscar">
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</template>

<script>
	import HotelDatePicker from 'vue-hotel-datepicker'
    export default {
    	components: {
	        HotelDatePicker
	    },

    	data () {
		    return {
		    	list:[],
				errors: [],
				pais:null,
				ciudad:null,
				countries: null,
				cities: null,
				dateIn: null,
				dateOut: null
		    }
	  	},
        mounted() {
            axios
	      	.get('http://apirest.vhost/api/paises')
	      	.then(response => (this.countries = response.data))
	      	.catch(error => console.log(error))
        },
        methods: {
        	checkIn: function(object) {
        		this.dateIn = object
        	},
        	checkOut: function(object) {
        		this.dateOut = object
        	},
			onChange: function(object) {
			   	axios
			   	.get('http://apirest.vhost/api/ciudades/'+object.target.value)
	  			.then(response => (this.cities = response.data))
			},

		    checkForm: function (e) {
		      	if (this.pais && this.ciudad && (this.dateIn && this.dateOut)) {
		        	//return true;
		        	axios
		        	.post('http://apirest.vhost/api/hotels-list', {
					    params: {
					      pais: this.pais,
					      ciudad: this.ciudad
					    }
					 })
		        	.then(response => {
		        		if(response.data.length ==0){
		        			this.list = false
		        		}else{
		        			this.list = response.data
		        		}
					    this.$emit('hotelsList',
					    	{
					    		'list': this.list,
					    		'city': this.ciudad,
					    		'date': this.dateIn
					    	})
					})
		        	.catch(e => {
					    console.log(e);
					})
		      	}

		      this.errors = [];

		        if (!this.pais) {
			        this.errors.push('El país es obligatorio.');
			      }
			      if (!this.ciudad) {
			        this.errors.push('La ciudad es obligatoria.');
			      }

			      if (!this.dateIn || !this.dateOut ) {
			        this.errors.push('Las fechas son obligatorias.');
			      }

				e.preventDefault();
		    }
  
		}

    }
</script>
