
body{
	margin: 0;
	padding: 0;
}
header{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 5px #446e9d solid;
	background: rgba(226,226,226,1);
background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 7%, rgba(254,254,254,1) 85%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(7%, rgba(219,219,219,1)), color-stop(85%, rgba(254,254,254,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 7%, rgba(254,254,254,1) 85%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 7%, rgba(254,254,254,1) 85%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 7%, rgba(254,254,254,1) 85%, rgba(254,254,254,1) 100%);
background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 7%, rgba(254,254,254,1) 85%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );

}

header img{
	max-width:80px;
	float: right;
}

#search{
	padding-top: 30px;
	padding-bottom: 30px;
	background: #f7f7f7;
}


#search p{
	font-size: 40px;
}

#search p img{
	max-width: 60px;
	margin-top: -5px;
}

.error{
	font-size: 16px!important;
	color: #ff0000;
	text-align: center;
}
.hotelcontent{
	border:1px #e2e2e2 solid;
}
.hotelcontent h4{
	color: #446e9d;
	font-size: 18px;
	font-weight: bold;
}
.hotelcontent .descripcion{
	text-align: justify;
}
.hotelcontent .precio{
	color: #ff8000;
	text-align: right;
	font-size: 24px;
	font-weight: bold;
}